[Unit]
Description=Sonarqube Server
After=network.target

[Service]
User=sonarqube
Type=forking
ExecStart=/opt/sonarqube/sonarqube-6.2/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/sonarqube/sonarqube-6.2/bin/linux-x86-64/sonar.sh stop

[Install]
WantedBy=multi-user.target
